<!DOCTYPE html>
<html lang="en">

<%- include('head'); %>

    <body class="container">

        <%- include('header'); %>

            <main>
                <div class="jumbotron">
                    <h1>Sobre mim</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio consequuntur vel excepturi minima nostrum, molestiae eius tempora aliquid laboriosam iure. Facere sunt ad nulla soluta velit! Assumenda velit reiciendis dignissimos.</p>
                </div>
            </main>

            <%- include('footer'); %>
    </body>

</html>