<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EJS</a>

        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/sobre">SOBRE MIM</a></li>
        </ul>

    </nav>
</header>
