:root {
    /*text*/
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /*Background gradient:*/
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /*Dividers*/
    --light-grayish-blue: hsl(240, 5%, 91%);
}

/*
font-family: 'Kumbh Sans', sans-serif;
*/

body {
    height: 97vh;
    width: 98vw;
    background:linear-gradient(to left top, var(--soft-violet), var(--soft-blue));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    background-color: white;
    color: var(--very-dark-desaturated-blue);
    display: flex;
    border-radius: 20px;
}

.images {
    position: relative;
    width: 400px;
    overflow: hidden;
}

.img-fundo {
    position: absolute;
    top: -110px;
    left: -280px;
    width: 600px;
}

.img-sobreposta {
    position: absolute;
    top: 40px;
    left: -50px;
    width: 370px;
}

.question {
    font-size: 14px;
    color: var(--very-dark-grayish-blue);
    background-image: url('./images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center right;
    margin-bottom: 20px;
}

h1 {
    text-transform: uppercase;
}

.faq {
    width: 350px;
    margin-right: 70px;
    overflow: hidden;
}

hr {
    width: 500px;
    align-items: left;
}

#faqs {
    height: max-content;
    margin-bottom: 60px;
}

.answer {
    display: none;
}
