main{
    display: flex;
}

img {
    width: 25px;
    height: 25px;
}

p {
    margin: 0;
}

.filter-white{
    filter: invert(100%)  brightness(200%);
}

button {
    border: 0;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 9px;
    color: white;
    background-color: rgb(70, 70, 218);
}

button + button {
    margin-left: .5rem;
}

p + img {
    margin-left: 5px;
}