:root {
    --margem-padrao: 5px 5px 5px 5px;
}

body {
    margin: var(--margem-padrao);
    height: 100vh;
}

header {
    margin: var(--margem-padrao);
    background-color: green;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    height: 67%;
}

.sidebar {
    margin: var(--margem-padrao);
    background-color: red;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: var(--margem-padrao);
    background-color: blue;
    flex: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin: var(--margem-padrao);
    bottom: 0;
    left: 10;
    position: relative;
    width: 100%;
    height: 10%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}